<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
	<savelocations>
		<s>Airy 4TB HDD 1</s>
		<s>Bluray</s>
		<s>Medion HDD 2TB 1</s>
		<s>TV Wohnzimmer</s>
		<s>Wohnzimmer Win10 PC</s>
		<s>DVD</s>
		
	</savelocations>
	
	<categories>
		<s>Action</s>
		<s>Horror</s>
		<s>SciFi</s>
		<s>Fantasy</s>
		<s>Dokumentation</s>
		<s>Satire</s>
	
	<s>Krimi</s></categories>
	
	<serien>
		<s>Harry Potter</s>
		<s>Tatort Münster</s>
	<s>James Bond</s></serien>
</settings>